<div class='h-[85vh]'>

	<!-- HERO SECTION -->
	<div class='shadow-xl shadow-slate-100'>

		<section class='container mx-auto'>

			<div
				class='container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center'
			>
				<div class='w-full lg:w-1/2'>
					<div class='lg:max-w-lg'>
						<h1
							class='text-3xl text-center font-bold tracking-wide text-gray-800 lg:text-5xl lg:text-start'
						>
							La mejor forma de avanzar en tu carrera
						</h1>

						<div
							class='mt-8 space-y-5 text-center flex flex-col items-center lg:items-start'
						>
							<p class='flex items-center text-gray-700'>
								<svg
									xmlns='http://www.w3.org/2000/svg'
									class='w-6 h-6 text-blue-500'
									fill='none'
									viewBox='0 0 24 24'
									stroke='currentColor'
								>
									<path
										stroke-linecap='round'
										stroke-linejoin='round'
										stroke-width='2'
										d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'
									/>
								</svg>

								<span class=''>Programas personalizados</span>
							</p>

							<p class='flex items-center text-gray-700'>
								<svg
									xmlns='http://www.w3.org/2000/svg'
									class='w-6 h-6 text-blue-500'
									fill='none'
									viewBox='0 0 24 24'
									stroke='currentColor'
								>
									<path
										stroke-linecap='round'
										stroke-linejoin='round'
										stroke-width='2'
										d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'
									/>
								</svg>

								<span class=''>Cursos de corta duración</span>
							</p>

							<p class='flex items-center text-gray-700'>
								<svg
									xmlns='http://www.w3.org/2000/svg'
									class='w-6 h-6 text-blue-500'
									fill='none'
									viewBox='0 0 24 24'
									stroke='currentColor'
								>
									<path
										stroke-linecap='round'
										stroke-linejoin='round'
										stroke-width='2'
										d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'
									/>
								</svg>

								<span class=''>Todos pueden acceder</span>
							</p>
							{{! Boton que envía al registro de usuario }}
							<a
								href='/signup'
								type='button'
								class='px-10 py-4 text-white font-medium transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-400 focus:outline-none focus:bg-gray-400'
							>
								Empezar Ahora
							</a>
						</div>
					</div>

				</div>

				<div class='flex items-center justify-center w-full h-96 lg:w-1/2'>
					<img
						class='object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl'
						src='https://images.unsplash.com/photo-1603575448878-868a20723f5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80'
						alt='glasses photo'
					/>
				</div>
			</div>
		</section>
	</div>
	<div class='shadow-xl bg-slate-50 lg:p-24'>

		<section class='container mx-auto mb-16'>

			<div
				class='flex flex-col px-6 py-10 mx-auto lg:py-16 lg:flex-row lg:justify-center lg:items-center'
			>

				<div class=''>
					<div class='lg:max-w-xl bg-slate-100 rounded-3xl p-6'>
						<h2 class='text-2xl font-bold tracking-wide text-gray-800'>
							Perfiles que ofrecemos:
						</h2>

						<div
							class='mt-8 bg-white p-6 rounded-xl grid grid-cols-4 content-center'
						>
							<div class='flex items-center'>

								<img
									src='https://img.plasmic.app/img-optimizer/v1/img/556fafcc720ba2d27aae47a17efdab34.png?w=64&q=75&f=webp'
									alt=''
								/>
							</div>
							<div class='col-span-3'>
								<h3
									class='text-xl font-medium m-0 p-0 text-gray-700'
								>Introducción a React</h3>

								<p class='text-lg font-medium m-0 p-0 text-gray-600'>Git |
									JavaScript | CSS | HTML | React</p>
							</div>

						</div>
						<div
							class='mt-8 bg-white p-6 rounded-xl grid grid-cols-4 content-center'
						>
							<div class='flex items-center'>

								<img
									src='https://img.plasmic.app/img-optimizer/v1/img/35bf1438cd89de20e42b8afb4150bc37.png?w=64&q=75&f=webp'
									alt=''
								/>
							</div>
							<div class='col-span-3'>
								<h3 class='text-xl font-medium m-0 p-0 text-gray-700'>Desarrollo
									Web FullStack</h3>

								<p class='text-lg font-medium m-0 p-0 text-gray-600'>Git |
									JavaScript | Python | Angular</p>
							</div>

						</div>
						<div
							class='mt-8 bg-white p-6 rounded-xl grid grid-cols-4 content-center'
						>
							<div class='flex items-center'>

								<img
									src='https://img.plasmic.app/img-optimizer/v1/img/6445b650949a602ffc0abe924dd1c78d.png?w=64&q=75&f=webp'
									alt=''
								/>
							</div>
							<div class='col-span-3'>
								<h3 class='text-xl font-medium m-0 p-0 text-gray-700'>Big Data</h3>

								<p class='text-lg font-medium m-0 p-0 text-gray-600'>Python |
									Scala | Tableau | SQL</p>
							</div>

						</div>
					</div>

				</div>
				<div class='lg:max-w-2xl'>
					<div class='p-8'>
						<h1
							class='text-3xl font-bold tracking-wide text-gray-800 lg:text-5xl'
						>
							Elige el tuyo
						</h1>

						<div class='mt-8 space-y-5'>
							<p
								class='flex items-center mx-2 text-gray-700 font-normal text-xl'
							>
								Nuestros cursos ofrecidos son una oportunidad única para
								adquirir habilidades altamente demandadas en el mercado laboral
								actual.
								<br /><br />
								Aprenderás las últimas tecnologías y herramientas de la
								industria, lo que te brindará una ventaja competitiva en tu
								carrera.
							</p>

							{{! Boton que envía al registro de usuario }}
							<a
								href='/signup'
								type='button'
								class='px-10 py-4 m-1 rounded-md text-white font-medium transition-colors duration-200 transform bg-emerald-500 hover:bg-sky-500 focus:outline-none focus:bg-gray-400'
							>
								Empezar Ahora
							</a>
						</div>
					</div>

				</div>
			</div>
		</section>
	</div>

</div>